.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    justify-items: center;
}

.course-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 260px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 216, 164, 0.4);
}

.course-card h3 {
    color: #00d8a4;
    margin-bottom: 10px;
}

.course-card p {
    color: #b0b0b0;
}

/* Estilo para a seção de ondas */
section .wave {
    position: absolute; /* Posicionamento absoluto */
    bottom: 0; /* Alinha ao fundo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    height: 100px; /* Altura fixa */
    background: url(../../images/wave.png); /* Imagem de fundo */
    background-size: 1000px 100px; /* Tamanho da imagem */
}
/* Animações das ondas */
section .wave.wave1 {
    animation: animate 30s linear infinite; /* Animação contínua */
    z-index: 1000; /* Camada superior */
    opacity: 1; /* Opacidade total */
    animation-delay: 0s; /* Sem atraso */
    bottom: 0; /* Alinha ao fundo */
}
section .wave.wave2 {
    animation: animate2 15s linear infinite; /* Animação contínua */
    z-index: 999; /* Camada inferior à wave1 */
    opacity: 0.5; /* Opacidade reduzida */
    animation-delay: -5s; /* Atraso na animação */
    bottom: 10px; /* Alinha 10px acima do fundo */
}
section .wave.wave3 {
    animation: animate3 30s linear infinite; /* Animação contínua */
    z-index: 997; /* Camada inferior à wave2 */
    opacity: 0.7; /* Opacidade intermediária */
    animation-delay: -2s; /* Atraso na animação */
    bottom: 20px; /* Alinha 20px acima do fundo */
}
/* Animações */
@keyframes animate {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
@keyframes animate2 {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000px;}
}
@keyframes animate3 {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
@keyframes animate4 {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000px;}
}