* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #1A73E8;
    --cinza-claro: #F1F3F4;
    --cinza-escuro: #202124;
    --amarelo: #FFB400;
}  

body {
    font-family: Arial, sans-serif;
    color: var(--cinza-escuro);
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: center;
}

p, h1, h2, h3{
    color: var(--cinza-escuro);
}

.container {
    width: 100%;
    padding: 0px;
}

.header-main{
   padding: 1rem; 
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    gap: 10px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
}

.menu-container{
    justify-items: center;
}

.menu-items {
    list-style-type: none;
}

.main-container {
    display: inline-block;
    padding: 0 40px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--cinza-escuro);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: var(--amarelo);
    transform: scale(1.2);
}

header .btn-alunos button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--azul);
    color: #202124;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
  }

header .btn-alunos button:hover {
    box-shadow: 0px 0px 8px #1a6ce8;
}

.planos-btn {
    padding: 12px 25px;
    background-color: var(--azul);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 1rem;
  }

  .menu-toggle span {
    display: block;
    width: 100%;
    height: 6px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    margin: 2px;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 60px;
}

/* Estilo para a seção de ondas */
section .wave {
    position: absolute; /* Posicionamento absoluto */
    bottom: 0; /* Alinha ao fundo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    height: 90px; /* Altura fixa */
    background: url(../../images/wave.png); /* Imagem de fundo */
    filter: invert(32%) sepia(91%) saturate(3683%) hue-rotate(204deg) brightness(97%) contrast(101%);
    background-size: 1000px 100px; /* Tamanho da imagem */
}
/* Animações das ondas */
section .wave.wave1 {
    animation: animate 30s linear infinite; /* Animação contínua */
    z-index: 1000; /* Camada superior */
    opacity: 1; /* Opacidade total */
    animation-delay: 0s; /* Sem atraso */
    bottom: 0; /* Alinha ao fundo */
}
section .wave.wave2 {
    animation: animate2 15s linear infinite; /* Animação contínua */
    z-index: 999; /* Camada inferior à wave1 */
    opacity: 0.5; /* Opacidade reduzida */
    animation-delay: -5s; /* Atraso na animação */
    bottom: 10px; /* Alinha 10px acima do fundo */
}
section .wave.wave3 {
    animation: animate3 30s linear infinite; /* Animação contínua */
    z-index: 997; /* Camada inferior à wave2 */
    opacity: 0.7; /* Opacidade intermediária */
    animation-delay: -2s; /* Atraso na animação */
    bottom: 20px; /* Alinha 20px acima do fundo */
}
/* Animações */
@keyframes animate {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
@keyframes animate2 {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000px;}
}
@keyframes animate3 {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
@keyframes animate4 {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000px;}
}